body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #2f4858;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
  max-width: 1100px;
  margin: 0 auto;
}

.circle {
  border-radius: 100%;
}

.score {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
  color: #0088c2;
  font-size: 1.8em;
  text-transform: bold;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: 0.3s;
  color: #00afa6;
}

nav a:hover {
  color: #00c9a7;
}
nav a.active {
  color: #00c9a7;
}

#gameArea {
  width: 90%;
  max-width: 1100px;
  height: 500px;
  position: relative;
  border: 1px solid #266074;
  margin: 20px auto;
  background-color: #00c9a7;
  border-radius: 5px;
}

#target {
  width: 50px;
  height: 50px;
  background-color: #496ead;

  position: absolute;
  cursor: pointer;
}

.triangle {
  width: 0 !important;
  height: 0 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid #496ead; /* Color of the triangle */
  display: inline-block; /* To position it amongst other inline elements, if necessary */
}

.gameMenu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 1100px;
  align-items: center;
  margin: auto;
  margin-top: 32px;
}
